<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/static/home.css" rel="stylesheet">
</head>
<body>
   <div class="login-box">
      <h2>Get a list of links on a webpage!</h2>
      <form method="post" action="/">
        <div class="user-box">
          <input type="text" name="url" required="required">
          <label>Enter URL:</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <button>Submit</button>
        </a>
      </form>
    </div>
</body>
</html>